{% extends "rebase.html"%}
{% block nav %}
  <div class="row">
    <h3 class="muted logo">帮我论文.com</h3>
    <ul class="nav nav-tabs">
      <li>
        <a href="{% url "require.views.customerRequirmentList" %}">个人中心</a>
      </li>
      <li class="active"><a href="{% url "require.views.customerRequirementMarket" %}">论文市场</a></li>
      <li><a href="{% url "require.views.newRequirement" %}"><i class="icon-plus-sign"></i>发布需求</a></li>
      <li><a href="{% url 'messages_inbox' %}">站内信({{ messages_inbox_count }})</a></li>
       <li><a href="#exit" data-toggle="modal">退出登陆</a></li>
    </ul>
    </div>
<div class="modal hide fade" id="exit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>退出登录</h3>
  </div>
  <div class="modal-body">
    <p>您确定退出登录么？</p>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn">关闭</a>
    <a href="{% url "main.views.logout_view" %}" class="btn btn-primary">退出登录</a>
  </div>
  </div>
{% endblock%}
{% block content %}
    <div class="row">
    <div class="span12">
    <ul class="breadcrumb">
      <li><a href="{% url "require.views.customerRequirementMarket" %}">论文市场</a> <span class="divider">/</span></li>
      <li class="active">需求详情</li>
    </ul>
    <div class="well">
      <h3>论文主题:{{requirement.theme}}</h3>
    <p>悬赏金额:{{requirement.prize}}</p>
    <p>发布日期:{{requirement.createdtime}}</p>
    <p>期望发表周期:{{requirement.circle_min}}天</p>
    <p>底线发表周期:{{requirement.circle_max}}天</p>
    {% autoescape off %}
    <div><p>其他要求:{{requirement.description}}</p></div>
    {% endautoescape %}
    {% ifequal user  requirement.creator %}
    <div id="deleterequirement"class="modal hide fade">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>确认删除需求</h3>
    </div>
    <div class="modal-body">
    <p>您确定要删除这一条需求么？</p>
    </div>
    <div class="modal-footer">
       <form method="POST" action="{% url "require.views.deleteMyRequire" requirement.pk %}">
        {% csrf_token %}
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button class="btn btn-warning" type="submit" name="submit" value="yes">确认</button>
      </form>
    </div>
    </div>
    <button class="btn btn-warning" data-toggle="modal" href="#deleterequirement"type="submit">删除该需求</button>
    <a href="{% url "require.views.editMyRequire" requirement.pk %}"<button class="btn btn-info">修改需求</button></a>
    {% endifequal %}
    </div>
    {% if bidlist %}
    <div>
    <table class="table table-hover table-bordered">
 <thead>
 <tr>
  <td>投标人用户名</td>
  <td>查看投标人详细信息</td>
  <td>选择中标</td>
 </tr>
 </thead>
 <tbody>
  {% for bid in bidlist %}
  <tr>
     <td>{{ bid.username }}</td>
    <td><a href="{% url "writer.views.writerprofile" bid.pk %}"><button class="btn btn-info">点击查看资料</button></a></td>
    <td>
    <div id="choosebid"class="modal hide fade">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>确认中标</h3>
    </div>
    <div class="modal-body">
    <p>现在您需要将论文款项共{{requirement.prize}}元人民币通过支付宝支付给我们。</p>
    </div>
    <div class="modal-footer">
      <form method="POST" action="{% url "transaction.views.submitBid" %}">
        {% csrf_token %}
      <input style="display:none" name="requirement" value="{{requirement.pk}}"/>
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button class="btn btn-warning" type="submit" name="biduser" value="{{bid.pk}}">继续</button>
      </form>
    </div>
    </div>
    <button class="btn btn-primary" data-toggle="modal" href="#choosebid">选择中标并支付</button>
  </td>
  </tr>
  {% endfor %}
 </tbody>
 </table>
    </div>
    {% endif %}
	</div>
	</div>
{% endblock %}