{% extends "rebase.html" %}
{% block nav %}
  <div class="container">
  <div class="row">
    <h3 class="muted logo">帮我论文.com</h3>
    <ul class="nav nav-tabs">
      <li>
        <a href="{% url "require.views.customerRequirmentList" %}">个人中心</a>
      </li>
      <li><a href="{% url "require.views.customerRequirementMarket" %}">论文市场</a></li>
      <li class="active"><a href="{% url "require.views.newRequirement" %}"><i class="icon-plus-sign"></i>发布需求</a></li>
      <li><a href="{% url "main.views.logout_view" %}">退出登陆</a></li>
    </ul>
  </div>
  {% endblock %}
{% block content%}
<div class="row">
    <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
            tinymce.init({selector:'textarea',menubar : false});
            
    </script>
    <div class="span12">
      {% if pk %}
        <form method="POST" action="{% url "require.views.editMyRequire" pk %}">
      {% csrf_token %}
      {% else %}
        <form method="POST" action="{% url "require.views.newRequirement" %}">
      {% csrf_token %}
      {% endif %}
    
      <h4>论文主题:</h4>
    <div class="input">
      {{form.theme}} 如"乳腺癌临床研究相关领域"，准确的主题有助于写手找到您。
    </div>
    {% if form.theme.errors %}
     <div class="alert alert-error">{{form.theme.errors}}</div>
     {% endif %}
    <h4>悬赏金额:</h4>
    <div class="input-prepend input-append">
      <span class="add-on">人民币</span>
      {{form.prize}} 
      <span class="add-on">元</span>
    </div>
    <div>这是您准备付给写手的报酬总额,在此之上,85lunwen.com收取10%介绍费.</div>
    <div>在您与写手达成共识并付款之后,85lunwen.com会立刻支付20%的费用给写手,剩余80%在您确认发表后支付。</div>
    <div>如果论文未能成功发表,介绍费与剩余80%费用将由85lunwen.com完全退还给您.</div>
              {% if form.prize.errors %}
     <div class="alert alert-error">{{form.prize.errors}}</div>
   {% endif %}
   
    <h4>论文周期(期望):</h4>
    <div class="input-append">
      {{form.circle_min}}
      <span class="add-on">天</span>
    </div>
    <div>请是您期望论文发表的周期，写手将通过该时间来判断可行性。</div>
    {% if form.circle_min.errors %}
     <div class="alert alert-error">{{form.circle_min.errors}}</div>
     {% endif %}
        <h4>论文周期(最慢):</h4>
    <div class="input-append">
      {{form.circle_max}}
      <span class="add-on">天</span>
    </div>
    <div>请是您期望论文发表的时间底线，如果因为文章没有即时发表产生分歧，这将是85lunwen.com仲裁的依据。</div>
    {% if form.circle_max.errors %}
     <div class="alert alert-error">{{form.circle_max.errors}}</div>
     {% endif %}
    <h4>影响因子:</h4>
    <div class="input-append">
      {{form.scifactor}}
      <span class="add-on">分</span>

    </div>
    <div>如果您需要的论文没有影响因子要求，填入0。</div>
          {% if form.scifactor.errors %}
     <div class="alert alert-error">{{form.scifactor.errors}}</div>
     {% endif %}
    <h4>需求描述:</h4>
    {{ form.description }}
    {% if form.description.errors %}
     <div class="alert alert-error">{{form.description.errors}}</div>
     {% endif %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">提交需求</button>
      <p class="text-error">需求在提交之后您可以根据与写手沟通的结果适当修改。</p>
      <p class="text-error">如果您与写手产生分歧，该需求将是85lunwen.com进行仲裁的唯一凭证。</p>
      </div>
  </form>
  <div class="span4">
  </div>
  </div>
  </div>
  {% endblock %}
