{% extends "rebase.html" %}
{% block nav %}
  <div class="row">
    <h3 class="muted logo">帮我论文.com</h3>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="{% url "require.views.customerRequirmentList" %}">个人中心</a>
      </li>
      <li><a href="{% url "require.views.customerRequirementMarket" %}">论文市场</a></li>
      <li><a href="{% url "require.views.newRequirement" %}"><i class="icon-plus-sign"></i>发布需求</a></li>
      <li><a href="{% url 'messages_inbox' %}">站内信({{ messages_inbox_count }})</a></li>
       <li><a href="#exit" data-toggle="modal">退出登陆</a></li>
    </ul>
    </div>
<div class="modal hide fade" id="exit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>退出登录</h3>
  </div>
  <div class="modal-body">
    <p>您确定退出登录么？</p>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn">关闭</a>
    <a href="{% url "main.views.logout_view" %}" class="btn btn-primary">退出登录</a>
  </div>
  </div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span4">
    <div class="well" id="nav-left">
<ul class="nav nav-list">
  <li class="nav-header">用户中心</li>
  <li><a href="{% url "require.views.customerRequirmentList" %}">我的需求</a></li>
  <li><a href="{% url "transaction.views.customerTransactionList" %}">我的交易</a></li>
  <li class="active"><a href="{% url "customer.views.profilePage" %}">个人信息</a></li>
</ul>
</div>
</div>
<div class="span8">
<form class="form-horizontal" action="{% url "customer.views.profilePage" %}" method="POST">
  {% csrf_token %}
   <div class="control-group">
   <label class="control-label" for="inputEmail">邮箱</label>
   <div class="controls">
    <p>
   {{form.email}}
    </p>
    {% if form.email.errors %}
     <div class="alert alert-error">{{form.email.errors}}</div>
     {% endif %}
   </div>
   </div>
   <div class="control-group">
   <label class="control-label" for="inputPassword">新密码</label>
   <div class="controls">
    <p>
   {{form.password}}
    </p>
   {% if form.password.errors %}
     <div class="alert alert-error">{{form.password.errors}}</div>
     {% endif %}
   </div>
   </div>
      <div class="control-group">
   <label class="control-label" for="inputPassword">重复新密码</label>
   <div class="controls">
    <p>
   {{form.repeatpassword}}
    </p>
   {% if form.repeatpassword.errors %}
     <div class="alert alert-error">{{form.repeatpassword.errors}}</div>
     {% endif %}
   </div>
   </div>
   <div class="control-group">
   <label class="control-label" for="inputPassword">联系电话</label>
   <div class="controls">
    <p>
   {{form.phonenumber}}
    </p>
   {% if form.phonenumber.errors %}
     <div class="alert alert-error">{{form.phonenumber.errors}}</div>
     {% endif %}
   </div>
   </div>
   
   <div class="control-group">
   <div class="controls">
<p><button type="submit" class="btn">提交修改</button></p>
   </div>
   </div>
   </form>
</div>
</div>
{% endblock %}