{% extends "rebase.html"%}
{% block nav %}
  <div class="row">
    <h3 class="muted logo">帮我论文.com</h3>
     <ul class="nav nav-tabs">
      <li class="active">
        <a href="{% url "require.views.customerRequirmentList" %}">个人中心</a>
      </li>
      <li><a href="{% url "require.views.customerRequirementMarket" %}">论文市场</a></li>
      <li><a href="{% url "require.views.newRequirement" %}"><i class="icon-plus-sign"></i>发布需求</a></li>
       <li><a href="#exit" data-toggle="modal">退出登陆</a></li>
    </ul>
    </div>
<div class="modal hide fade" id="exit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>退出登录</h3>
  </div>
  <div class="modal-body">
    <p>您确定退出登录么？</p>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn">关闭</a>
    <a href="{% url "main.views.logout_view" %}" class="btn btn-primary">退出登录</a>
  </div>
  </div>
{% endblock%}
{% block content %}
    <div class="row">
    
    <div class="span12">
    <ul class="breadcrumb">
      <li><a href="{% url "transaction.views.customerTransactionList" %}">交易列表</a> <span class="divider">/</span></li>
      <li class="active">交易详情</li>
    </ul>
    <div class="well">
    <h3>论文主题:{{transaction.requirement.theme}}</h3>
    <p>悬赏金额:{{transaction.requirement.prize}}</p>
    <p>订单号:{{ transaction.order_id}}</p>
    <p>发布日期:{{transaction.start}}</p>
    <p>发表周期:{{transaction.requirement.circle_min}}天到{{transaction.requirement.circle_max}}天</p>
    {% autoescape off %}
    <div><p>其他要求:{{transaction.requirement.description}}</p></div>
    {% endautoescape %}
    </div>
    {% if transaction.pay %}
    {% if not transaction.finish %}
    <div id="admitfinish"class="modal hide fade">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>确认发表</h3>
    </div>
    <div class="modal-body">
    <p>您点击确认之后,我们将会将80%的尾款打给写手,您要继续确认么？</p>
    </div>
    <div class="modal-footer">
    <form method="POST" action="{% url "transaction.views.finishTransaction" transaction.pk %}">
      {% csrf_token %}
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button class="btn btn-warning" type="submit" name="submit" value="yes">确认</button>
    </form>
    </div>
    </div>
      <button data-toggle="modal" href="#admitfinish"class="btn btn-warning" type="submit" name="submit" value="yes">确认已发表</button>
      <p class="text-info"><strong>在您确认发表之后，我们会将您款项的剩余80%打给写手，请慎重确认！</strong></p>
    {% endif %}
    {% endif %}
    {% if not transaction.pay %}
    <form method="POST" action="{% url "transaction.views.continuePay" %}">
      {% csrf_token %}
      <button class="btn btn-warning" type="submit" name="transaction" value="{{transaction.pk}}">继续付款</button>
    </form>
    {% endif %}
	</div>
	</div>
{% endblock %}