{% extends "rebase.html" %}
{% block nav %}
  <div class="row">
    <h3 class="muted logo">帮我论文.com</h3>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="{% url "require.views.customerRequirmentList" %}">个人中心</a>
      </li>
      <li><a href="{% url "require.views.customerRequirementMarket" %}">论文市场</a></li>
      <li><a href="{% url "require.views.newRequirement" %}"><i class="icon-plus-sign"></i>发布需求</a></li>
      <li><a href="{% url "main.views.logout_view" %}">退出登陆</a></li>
    </ul>
  </div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span4">
    <div class="well" id="nav-left">
<ul class="nav nav-list">
  <li class="nav-header">用户中心</li>
  <li><a href="{% url "require.views.customerRequirmentList" %}">我的需求</a></li>
  <li class="active"><a href="{% url "transaction.views.customerTransactionList" %}">我的交易</a></li>
  <li><a href="{% url "customer.views.profilePage" %}">个人信息</a></li>
</ul>
</div>
</div>
<div class="span8">
  {% if tlist %}
 <table class="table table-hover table-bordered">
 <thead>
 <tr>
  <td>中标人</td>
  <td>人民币</td>
     <td>中标时间</td>
     <td>操作</td>
     <td>状态</td>
 </tr>
 </thead>
 <tbody> 
  {% for listitem in tlist %}
  <tr>
     <td><a href="{% url "writer.views.writerprofile" listitem.biduser.pk %}">{{ listitem.biduser.username }}</a></td>
     <td>{{ listitem.requirement.prize}}</td>
      <td>{{ listitem.start}}</td>
      <td><a href="{% url "transaction.views.TransactionDetail" listitem.pk %}"><button class="btn btn-success">查看交易详情</button></a></td>
      <td>
        {% if listitem.finish %}
        已结束
        {% elif not lisitem.finish %}
        进行中
        {% endif %}
      </td>
  </tr>
  {% endfor %}
 </tbody>
 </table>
 {% else %}
  <p>您还没有交易,在您对需求选定中标人且支付款项后,则会显示在此处。</p>
  {% endif %}
</div>
</div>
{% endblock %}