{% extends "rebase.html"%}
{% block nav %}
  <div class="row">
    <h3 class="muted logo">帮我论文.com</h3>
     <ul class="nav nav-tabs">
      <li class="active">
        <a href="{% url "require.views.customerRequirmentList" %}">个人中心</a>
      </li>
      <li><a href="{% url "require.views.customerRequirementMarket" %}">论文市场</a></li>
      <li><a href="{% url "require.views.newRequirement" %}"><i class="icon-plus-sign"></i>发布需求</a></li>
      <li><a href="{% url "main.views.logout_view" %}">退出登陆</a></li>
    </ul>
  </div>
{% endblock%}
{% block content %}
    <div class="row">
    
    <div class="span12">
    <ul class="breadcrumb">
      <li><a href="{% url "transaction.views.customerTransactionList" %}">交易列表</a> <span class="divider">/</span></li>
      <li class="active">交易详情</li>
    </ul>
    <div class="well">
    <h3>论文主题:{{transaction.requirement.theme}}</h3>
    <p>悬赏金额:{{transaction.requirement.prize}}</p>
    <p>发布日期:{{transaction.start}}</p>
    <p>发表周期:{{transaction.requirement.circle_min}}天到{{transaction.requirement.circle_max}}天</p>
    {% autoescape off %}
    <div><p>其他要求:{{transaction.requirement.description}}</p></div>
    {% endautoescape %}
    </div>
    {% if not transaction.finish %}
    <form method="POST" action="{% url "transaction.views.finishTransaction" transaction.pk %}">
      {% csrf_token %}
      <button class="btn btn-warning" type="submit" name="submit" value="yes">确认已发表</button>
    </form>
    {% endif %}
	</div>
	</div>
{% endblock %}