{% extends "rebase.html" %}
{% block nav %}
  <div class="row">
    <h3 class="muted logo">帮我论文.com</h3>
     <ul class="nav nav-tabs">
      <li>
        <a href="{% url "require.views.customerRequirmentList" %}">个人中心</a>
      </li>
      <li class="active"><a href="{% url "require.views.customerRequirementMarket" %}">论文市场</a></li>
      <li><a href="{% url "require.views.newRequirement" %}"><i class="icon-plus-sign"></i>发布需求</a></li>
      <li><a href="{% url "main.views.logout_view" %}">退出登陆</a></li>
    </ul>
  </div>
{% endblock %}
{% block content %}
<div class="row">
   <div class="span12">
 <table class="table table-hover table-bordered">
 <thead>
 <tr>
 	<td>价格</td>
 	<td>发布时间</td>
     <td>SCI分数</td>
     <td>其他要求</td>
     <td>操作</td>
 </tr>
 </thead>
 <tbody>
  {% for listitem in lists%}
  <tr>
  	 <td>{{ listitem.prize }}人民币</td>
  	 <td>{{ listitem.createdtime}}</td>
      <td>{{ listitem.scifactor}}分</td>
      {% autoescape off %}
      <td>{{ listitem.description}}</td>
      {% endautoescape %}
      <td><a href="{% url "require.views.detail" listitem.pk %}"><button class="btn">查看详情</button></a></td>
  </tr>
  {% endfor %}
 </tbody>
 </table>
 
   </div>
</div>
{% endblock %}