{% extends "wrbase.html"%}
{% load endless %}
{% block nav%}
<div class="row">
    <h3 class="muted logo">帮我论文.com</h3>
    <ul class="nav nav-tabs">
    <li class="active"><a href="{% url "require.views.writerRequirementMarket" %}"><i class="icon-search"></i>论文市场</a></li>
      <li>
        <a href="{% url "require.views.writerBidList" %}">个人中心</a>
      </li>
      <li><a href="{% url "main.views.logout_view" %}">退出登陆</a></li>
    </ul>
    </div>
{% endblock %}
{% block content %}
{% paginate 10,20 lists %}
<div class="row">
   <div class="span12">
 <table class="table table-hover table-bordered">
 <thead>
 <tr>
  <td>论文主题</td>
 	<td>价格</td>
     <td>影响因子</td>
     <td>论文发表周期</td>
     <td>具体需求</td>
 </tr>
 </thead>
 <tbody>
  {% for listitem in lists%}
  <tr>
	  <td>{{ listitem.theme}}</td>
  	 <td>{{ listitem.prize }}人民币</td>
	 <td>{{ listitem.scifactor}}分</td>
	 <td>{{listitem.circle_min}}到{{listitem.circle_max}}天</td>
	
      <td><a href="{% url "require.views.detail" listitem.pk %}"><button class="btn">查看详情</button></a></td>
  </tr>
  {% endfor %}
 </tbody>
 </table>
   </div>
</div>
{% show_pages %}
{% endblock %}