{% extends "wrbase.html"%}
{% block nav%}
<div class="row">
    <h3 class="muted logo">帮我论文.com</h3>
    <ul class="nav nav-tabs">
    <li><a href="{% url "require.views.writerRequirementMarket" %}"><i class="icon-search"></i>论文市场</a></li>
      <li class="active">
        <a href="{% url "require.views.writerBidList" %}">个人中心</a>
      </li>
      <li><a href="{% url 'messages_inbox' %}">站内信({{ messages_inbox_count }})</a></li>
      <li><a href="#exit" data-toggle="modal">退出登陆</a></li>
    </ul>
    </div>
<div class="modal hide fade" id="exit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>退出登录</h3>
  </div>
  <div class="modal-body">
    <p>您确定退出登录么？</p>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn">关闭</a>
    <a href="{% url "main.views.logout_view" %}" class="btn btn-primary">退出登录</a>
  </div>
</div>
   {% endblock %}
{% block content %}
<div class="row">
    <div class="span4">
    <div class="well" id="nav-left">
<ul class="nav nav-list">
  <li class="nav-header">用户中心</li>
   <li  class="active"><a href="{% url "require.views.writerBidList" %}">我的竞标</a></li>
  <li><a href="{% url "transaction.views.writerTransactionList" %}">我的交易</a></li>
  <li><a href="{% url "writer.views.profilePage" %}">个人信息</a></li>
</ul>
</div>
</div>

<div class="span8">
  {% if userbid %}
  <table class="table table-hover table-striped">
 <thead>
 <tr>
    <td>论文主题</td>
    <td>价格</td>
     <td>SCI分数</td>
     <td>查看细节</td>
 </tr>
 </thead>
 <tbody>
  {% for listitem in userbid %}
  <tr>
    <td>{{ listitem.theme}}</td>
     <td>{{ listitem.prize }}人民币</td>
      <td>{{ listitem.scifactor}}分</td>
      <td><a href="{% url "require.views.detail" listitem.pk %}"><button class="btn">查看详情</button></a></td>
  </tr>
  {% endfor %}
 </tbody>
 </table>
  <div class="alert">
    <p>如果您竞标的需求被需求方选中,将会在<a href="{% url "transaction.views.writerTransactionList" %}">"我的交易"</a>中显示,同时您的邮箱将收到通知邮件.</p>
    <p>Tips:主动联系需求方,可以增加您中标的几率。</p>
</div>
 {% else %}
 <p>您目前未竞标任何论文需求</p>
 {% endif %}
</div>
</div>
{% endblock %}