{% extends 'base.html' %}
{% block title %}
作者注册
{% endblock %}
{% block content %}
    <div class="row">
     <ul class="breadcrumb">
     <li><a href="/">首页</a> <span class="divider">/</span></li>
     <li class="active">作者注册</li>
     </ul>
     <div class="span8">
     <form class="form-horizontal" action="{% url "writer.views.register"%}" method="POST">
          {% csrf_token %}
     <div class="control-group">
     <label class="control-label" for="inputEmail">用户名</label>
     <div class="controls">
     <p>{{form.name}}</p>
     {% if form.name.errors %}
     <div class="alert alert-error">{{form.name.errors}}</div>
     {% endif %}
     </div>
     </div>
     <div class="control-group">
     <label class="control-label" for="inputPassword">密码</label>
     <div class="controls">
     <p>{{form.password}}</p>
     {% if form.name.errors %}
     <div class="alert alert-error">{{form.password.errors}}</div>
     {% endif %}
     </div>
     </div>
     <div class="control-group">
     <label class="control-label" for="inputPassword">重复密码</label>
     <div class="controls">
     <p>{{form.repeatpassword}}</p>
     {% if form.repeatpassword.errors %}
     <div class="alert alert-error">{{form.repeatpassword.errors}}</div>
     {% endif %}
     </div>
     </div>
     <div class="control-group">
     <label class="control-label" for="inputPassword">邮箱</label>
     <div class="controls">
     <p>{{form.email}}</p>
     {% if form.email.errors %}
     <div class="alert alert-error">{{form.email.errors}}</div>
     {% endif %}
     </div>
     </div>
     <div class="control-group">
     <label class="control-label" for="inputPassword">联系电话</label>
     <div class="controls">
     <p>{{form.phonenumber}}</p>
     {% if form.phonenumber.errors %}
     <div class="alert alert-error">{{form.phonenumber.errors}}</div>
     {% endif %}
     </div>
     </div>
     <div class="control-group">
     <label class="control-label" for="inputPassword">真实姓名</label>
     <div class="controls">
     <p>{{form.realname}}</p>
     {% if form.realname.errors %}
     <div class="alert alert-error">{{form.realname.errors}}</div>
     {% endif %}
     </div>
     </div>
     <div class="control-group">
     <label class="control-label" for="inputPassword">开户行信息</label>
     <div class="controls">
     <p>{{form.bank}}</p>
     {% if form.bank.errors %}
     <div class="alert alert-error">{{form.bank.errors}}</div>
     {% endif %}
     </div>
     </div>
     <div class="control-group">
     <label class="control-label" for="inputPassword">银行账户</label>
     <div class="controls">
     <p>{{form.bankaccount}}</p>
     {% if form.bankaccount.errors %}
     <div class="alert alert-error">{{form.bankaccount.errors}}</div>
     {% endif %}
     </div>
     </div>
     <div class="control-group">
     <label class="control-label" for="inputPassword">自我介绍</label>
     <div class="controls">
     <p>{{form.selfdescription}}</p>
     {% if form.selfdescription.errors %}
     <div class="alert alert-error">{{form.selfdescription.errors}}</div>
     {% endif %}
     </div>
     </div>
     <div class="control-group">
     <div class="controls span2">
     {{form.captcha}}
     </div>
     </div>
     <div class="control-group">
     <div class="controls">
  <p><button type="submit" class="btn">注册</button></p>
     </div>
     </div>
     </form>
     </div>
     <div class="span4">
       <h4>注册提示</h4>
       <dl>
       <dt>请输入真实的用户姓名</dt>
       <dd>因为这是我们给您付款时的重要信息，也是用户信任你的重要原因。</dd>
      </dl>
       <dl>
       <dt>请输入正确的电话号码</dt>
       <dd>因为这是需求方联系您的唯一方式，而给您付款前，我们也会通过电话跟您确认您的收款信息。</dd>
      </dl>
      <dl>
       <dt>请输入正确的电子邮箱</dt>
       <dd>因为这是我们联系您的重要方式与您找回密码的唯一凭证，我们的系统会根据您的业务记录，为您自动推荐需求，这将会通过邮件完成。</dd>
      </dl>
      <dl>
       <dt>请输入正确的开户行与账号信息</dt>
       <dd>因为这是我们给您付款的重要信息，您的收入将打到这个账号上。</dd>
      </dl>
      <dl>
       <dt>请认真输入一段自我介绍</dt>
       <dd>需求方在决定谁中标前，一定会查看您的自我介绍。</dd>
      </dl>
     </div>
      </div>
{% endblock %}