{% extends "wrbase.html"%}
{% block nav %}
  <div class="row">
    <h3 class="muted logo">帮我论文.com</h3>
    <ul class="nav nav-tabs">
    <li><a href="{% url "require.views.writerRequirementMarket" %}"><i class="icon-search"></i>论文市场</a></li>
      <li class="active">
        <a href="{% url "require.views.writerBidList" %}">个人中心</a>
      </li>
      <li><a href="{% url 'messages_inbox' %}">站内信({{ messages_inbox_count }})</a></li>
       <li><a href="#exit" data-toggle="modal">退出登陆</a></li>
    </ul>
    </div>
<div class="modal hide fade" id="exit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>退出登录</h3>
  </div>
  <div class="modal-body">
    <p>您确定退出登录么？</p>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn">关闭</a>
    <a href="{% url "main.views.logout_view" %}" class="btn btn-primary">退出登录</a>
  </div>
    </div>
{% endblock%}
{% block content %}
  <div class="row">    
  <div class="span8">
    <ul class="breadcrumb">
      <li><a href="{% url "transaction.views.writerTransactionList" %}">交易列表</a> <span class="divider">/</span></li>
      <li class="active">交易详情</li>
    </ul>
    <div class="well">
    <p>悬赏金额:{{transaction.requirement.prize}}</p>
    <p>发布日期:{{transaction.start}}</p>
    <p>影响因子要求:{{transaction.requirement.scifactor}}</p>
    {% autoescape off%}
    <div><p>其他要求:{{transaction.requirement.description}}</p></div>
    {% endautoescape %}
    </div>
	<div class="span4">
	</div>
	</div>
	</div>
{% endblock %}