<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}帮我论文网:中国最大的论文众包网站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    {% block nav %}
    {% endblock %}
    {% block content%}
    {% endblock %}
        <hr>
        <footer>
        <p><a href="/about/">About Us</a>  用户QQ群号:102014387</p>
        </footer>
    </div> <!-- /container -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

  </body>
</html>
