{% extends 'base.html' %}
{% block title %}
帮我论文.com-职称论文发表众包网站
{% endblock %}
{% block content %}
<div class="row">
        <ul class="nav nav-tabs">
        <li class="active"><a href="/">我想发论文</a></li>
        <li><a href="{% url "main.views.writerindex" %}">我会写论文</a></li>
        <li><a href="{% url "main.views.loginpage" %}"><i class="icon-eye-open"></i>现在登陆</a></li>
        </ul>
         <div class="row">
            <div class="span4" id="aiyinsitan">
            </div>
            <div class="span8">
            <div class="banner-box" >
            <h4>又快要评职称了,还在为没空写论文烦恼？</h4>
            <p>现在就注册<strong>帮我论文.com</strong>,够隐私够快,全国注册写手为您的论文发表之路助阵。</p>
            <a href="{% url "customer.views.register" %}"><button class="btn-large btn-primary" >需求方注册</button></a>
            </div>
            </div>
</div>
      <div class="row">
      <div class="span12" id="specialistlist"> 
      <div class="page-header"> 
      <p><i class="icon-thumbs-up"></i><strong>专家案例</strong></p>
      </div>
    <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <td>姓名</td>
        <td>学历</td>
        <td>工作单位</td>
        <td>本月收入</td>
    </tr>
    </thead>
     <tbody>
        {% for listitem in wlist %}
       <tr>
         <td>{{ listitem.name }}</td>
           <td>{{ listitem.degree }}</td>
           <td>{{ listitem.university }}</td>
           <td>{{ listitem.income }}</td>
       </tr>
       {% endfor %}
    </tbody>
    </table>
    <p class="text-right"><a href="{% url "writer.views.register" %}">注册前去竞标</a></p>
     </div>
      </div>
      <div class="row">
        <div class="span12" id="specialistlist"> 
        <div class="page-header"> 
        <p><i class="icon-thumbs-up"></i><strong>需求案例</strong></p>
        </div>
      <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <td>价格</td>
          <td>SCI分数要求</td>
          <td>其他要求</td>
      </tr>
      </thead>
      <tbody>
        {% for listitem in clist %}
       <tr>
         <td>{{ listitem.price }}</td>
           <td>{{ listitem.sci }}</td>
           <td>{{ listitem.require }}</td>
       </tr>
       {% endfor %}
      </tbody>
      </table>
      <p class="text-right"><a href="{% url "customer.views.register" %}">注册发布需求</a></p>
       </div>
        </div>
{% endblock %}
