{% extends 'base.html' %}
{% block content %}
<div class="row">
        <ul class="nav nav-tabs">
        <li  class="active"><a href="/">我想发论文</a></li>
        <li><a href="{% url "main.views.writerindex" %}">我会写论文</a></li>
        <li><a href="{% url "main.views.market" %}">论文市场</a></li>
        <li><a href="{% url "main.views.loginpage" %}"><i class="icon-eye-open"></i>现在登陆</a></li>
    </ul>
         <div class="row">
            <div class="span4" id="aiyinsitan">
            </div>
            <div class="span8">
            <div class="banner-box" >
            <h4>还在为没空写论文烦恼？</h4>
            <p>现在就注册,直接联系写手完成论文！</p>
            <a href="{% url "customer.views.register" %}"><button class="btn-large btn-primary" >需求方注册</button></a>
            </div>
            </div>
</div>
      <div class="row">
      <div class="span12" id="specialistlist"> 
      <div class="page-header"> 
      <h4>使用详情</h4>
      </div>
      <div class="row">
        <div class="span6">
         <p><i class="icon-shopping-cart"></i>如何发布需求</p>
        <ol>
        <li>注册需求方</li>
        <li>发布需求</li>
        <li>与竞标者电话沟通</li>
        <li>选中中标者</li>
        <li>付款<span class="label label-important">只有您确认发表,款项才会打给写手</span></li>
        <li>确认收货</li>
        </ol>       
        </div>
        <div class="span6">
         <p><i class="icon-flag"></i>如何付款？</p>
        <ol>
        <li>平台代收款</li>
        <ul>
        <li>我们平台代写手从您处进行预收款,但是在您确认论文完成之前,款项不会打给写手。</li>
        </ul>
        <li>不满意可退款</li>
         <ul>
        <li>如果写手完成的论文不满足您的要求,您可以向我们的客服进行申诉,获得100%退款。</li>
        </ul>
         <li>使用支付宝</li>
         <ul>
                <li>我们目前仅支持支付宝网上付款.<img src="https://img.alipay.com/home/logo.png"></li>
        </ul>
        </ol>       
        </div>
      </div>
      
        <hr>
        <p><i class="icon-exclamation-sign"></i>与淘宝店、工作室比,帮我论文平台有何优势？</p>
        <ol>
        <li>直接面对写手</li>
        <ul>
                <li>您提出论文需求,有能力完成需求的写手竞标,效率高。</li>
                <li>您直接与写手电话沟通,做出最符合您个性化要求的文章,需要修改/有不满的地方直接打电话解决!</li>       
        </ul>
        <li>保证隐私</li>
         <ul>
                <li>网站不需要您实名注册,只需要您提供电话与邮箱。</li>
                <li>除了帮您完成论文写作的写手之外,没有人知道您的身份。</li>
        </ul>
        <li>满足各种论文需求</li>
                 <ul>
                <li>不管是本科、硕士、MBA毕业论文,还是评职称需要发表在国际期刊上的论文,这里一定有写手可以帮到您.</li>
                </ul>
        </ol>
                <hr>
     </div>
      </div>
      <div class="row">
      <a href="{% url "customer.views.register" %}"><button class="btn btn-link">注册发布需求</button></a>
       </div>
      <hr>
            <div class="row">
      <div class="span12">友情链接:
      {% for link in links %}
      <a href="{{link.link}}">{{link.name}}</a>
      {% endfor %}
      </div>
      
       </div>
        </div>
{% endblock %}
