{% extends 'base.html' %}
{% block content %}
<div class="row">
         <ul class="nav nav-tabs">
        <li><a href="/">我想发论文</a></li>
        <li><a href="{% url "main.views.writerindex" %}">我会写论文</a></li>
        <li><a href="{% url "main.views.market" %}">论文市场</a></li>
        <li  class="active"><a href="{% url "main.views.loginpage" %}"><i class="icon-eye-open"></i>现在登陆</a></li>
    </ul>
          <div class="span12">
          <form class="form-horizontal" action="{% url "main.views.loginpage" %}" method="POST">
            {% csrf_token %}
          <div class="control-group">
          <label class="control-label" for="inputEmail">账号</label>
          <div class="controls">
            <p>{{ form.name }}</p>
                {% if form.name.errors %}
                <div class="alert alert-error">{{form.name.errors}}</div>
                {% endif %}
          </div>
          </div>
          <div class="control-group">
          <label class="control-label" for="inputPassword">密码</label>
          <div class="controls">
                <p>
          {{ form.password }}
          </p>
          {% if form.password.errors %}
          <div class="alert alert-error">{{form.password.errors}}</div>
        {% endif %}
        {% if message %}
                <div class="alert alert-error">{{message}}</div>     
          {% endif %}
          </div>
          </div>
          <div class="control-group">
          <div class="controls">
            <p>
          <button type="submit" class="btn">登陆</button>
        </p>
          </div>
          </div>
          </form>
          </div>
</div>
      <div class="row">
      <div class="span12" id="specialistlist"> 
        </div>
      <hr>
{% endblock %}