{% extends "base.html" %}
{% load endless %}
{% block content %}
<div class="row">
     <ul class="nav nav-tabs">
        <li><a href="/">我想发论文</a></li>
        <li><a href="{% url "main.views.writerindex" %}">我会写论文</a></li>
        <li class="active"><a href="{% url "main.views.market" %}">论文市场</a></li>
        <li><a href="{% url "main.views.loginpage" %}"><i class="icon-eye-open"></i>现在登陆</a></li>
    </ul>
</div>
{% paginate 10,10 lists %}
<div class="row">
   <div class="span12">
 <table class="table table-hover table-striped">
     <div><a href="{% url "customer.views.register" %}"><button class="btn btn-warning">注册并发布需求</button></a></div>
 <thead>
 <tr>
     <td>论文主题</td>
     <td>价格</td>
     <td>影响因子</td>
     <td>论文发表周期</td>
 </tr>
 </thead>
 <tbody>
  {% for listitem in lists%}
  <tr>
     <td><a href="{% url "main.views.detail" listitem.pk %}">{{ listitem.theme}}</a></td>
     <td>{{ listitem.prize }}人民币</td>
     <td>{{ listitem.scifactor}}分</td>
     <td>{{listitem.circle_min}}到{{listitem.circle_max}}天</td>
  </tr>
  {% endfor %}
 </tbody>
 </table>
   </div>
</div>
<div class="row">
     {% get_pages %}    
<div class="pagination pagination-centered">   
  <ul>
    <li><a href="{{ pages.previous.path }}">上一页</a></li>
    {% for page in pages %}
	 {% if not  page.is_current  %}
    <li><a href="{{ page.path }}">{{page.number}}</a></li>
    {% else %}
	 <li class="active"><a href="{{ page.path }}">{{page.number}}</a></li>
	 {% endif %}
    {% endfor %}
    <li><a href="{{ pages.next.path }}">下一页</a></li>
  </ul>
</div>
</div>

{% endblock %}